[submodule "arrangements/CactusBase"]
	path = arrangements/CactusBase
	url = https://bitbucket.org/cactuscode/cactusbase.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/cactusbase.git
	upstreamtype = git
[submodule "arrangements/CactusConnect"]
	path = arrangements/CactusConnect
	url = https://bitbucket.org/cactuscode/cactusconnect.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/cactusconnect.git
	upstreamtype = git
[submodule "arrangements/CactusElliptic"]
	path = arrangements/CactusElliptic
	url = https://bitbucket.org/cactuscode/cactuselliptic.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/cactuselliptic.git
	upstreamtype = git
[submodule "arrangements/CactusExamples"]
	path = arrangements/CactusExamples
	url = https://bitbucket.org/cactuscode/cactusexamples.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/cactusexamples.git
	upstreamtype = git
[submodule "arrangements/CactusIO"]
	path = arrangements/CactusIO
	url = https://bitbucket.org/cactuscode/cactusio.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/cactusio.git
	upstreamtype = git
[submodule "arrangements/CactusNumerical"]
	path = arrangements/CactusNumerical
	url = https://bitbucket.org/cactuscode/cactusnumerical.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/cactusnumerical.git
	upstreamtype = git
[submodule "arrangements/CactusPUGH"]
	path = arrangements/CactusPUGH
	url = https://bitbucket.org/cactuscode/cactuspugh.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/cactuspugh.git
	upstreamtype = git
[submodule "arrangements/CactusPUGHIO"]
	path = arrangements/CactusPUGHIO
	url = https://bitbucket.org/cactuscode/cactuspughio.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/cactuspughio.git
	upstreamtype = git
[submodule "arrangements/CactusTest"]
	path = arrangements/CactusTest
	url = https://bitbucket.org/cactuscode/cactustest.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/cactustest.git
	upstreamtype = git
[submodule "arrangements/CactusUtils"]
	path = arrangements/CactusUtils
	url = https://bitbucket.org/cactuscode/cactusutils.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/cactusutils.git
	upstreamtype = git
[submodule "arrangements/CactusWave"]
	path = arrangements/CactusWave
	url = https://bitbucket.org/cactuscode/cactuswave.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/cactuswave.git
	upstreamtype = git
[submodule "arrangements/EinsteinAnalysis"]
	path = arrangements/EinsteinAnalysis
	url = https://bitbucket.org/einsteintoolkit/einsteinanalysis.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:einsteintoolkit/einsteinanalysis.git
	upstreamtype = git
[submodule "arrangements/EinsteinBase"]
	path = arrangements/EinsteinBase
	url = https://bitbucket.org/einsteintoolkit/einsteinbase.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:einsteintoolkit/einsteinbase.git
	upstreamtype = git
[submodule "arrangements/EinsteinEOS"]
	path = arrangements/EinsteinEOS
	url = https://bitbucket.org/einsteintoolkit/einsteineos.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:einsteintoolkit/einsteineos.git
	upstreamtype = git
[submodule "arrangements/EinsteinEvolve"]
	path = arrangements/EinsteinEvolve
	url = https://bitbucket.org/einsteintoolkit/einsteinevolve.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:einsteintoolkit/einsteinevolve.git
	upstreamtype = git
[submodule "arrangements/EinsteinExamples"]
	path = arrangements/EinsteinExamples
	url = https://bitbucket.org/einsteintoolkit/einsteinexamples.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:einsteintoolkit/einsteinexamples.git
	upstreamtype = git
[submodule "arrangements/EinsteinUtils"]
	path = arrangements/EinsteinUtils
	url = https://bitbucket.org/einsteintoolkit/einsteinutils.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:einsteintoolkit/einsteinutils.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/BLAS"]
	path = arrangements/ExternalLibraries/BLAS
	url = https://github.com/einsteintoolkit/ExternalLibraries-BLAS.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-BLAS.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/FFTW3"]
	path = arrangements/ExternalLibraries/FFTW3
	url = https://github.com/einsteintoolkit/ExternalLibraries-FFTW3.git
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-FFTW3.git
	upstreamtype = git
	revision = master
	branch = master
[submodule "arrangements/ExternalLibraries/GSL"]
	path = arrangements/ExternalLibraries/GSL
	url = https://github.com/einsteintoolkit/ExternalLibraries-GSL.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-GSL.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/HDF5"]
	path = arrangements/ExternalLibraries/HDF5
	url = https://github.com/einsteintoolkit/ExternalLibraries-HDF5.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-HDF5.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/hwloc"]
	path = arrangements/ExternalLibraries/hwloc
	url = https://github.com/einsteintoolkit/ExternalLibraries-hwloc.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-hwloc.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/LAPACK"]
	path = arrangements/ExternalLibraries/LAPACK
	url = https://github.com/einsteintoolkit/ExternalLibraries-LAPACK.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-LAPACK.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/libjpeg"]
	path = arrangements/ExternalLibraries/libjpeg
	url = https://github.com/einsteintoolkit/ExternalLibraries-libjpeg.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-libjpeg.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/LORENE"]
	path = arrangements/ExternalLibraries/LORENE
	url = https://github.com/einsteintoolkit/ExternalLibraries-LORENE.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-LORENE.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/MPI"]
	path = arrangements/ExternalLibraries/MPI
	url = https://github.com/einsteintoolkit/ExternalLibraries-MPI.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-MPI.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/OpenBLAS"]
	path = arrangements/ExternalLibraries/OpenBLAS
	url = https://github.com/einsteintoolkit/ExternalLibraries-OpenBLAS.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-OpenBLAS.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/OpenCL"]
	path = arrangements/ExternalLibraries/OpenCL
	url = https://github.com/einsteintoolkit/ExternalLibraries-OpenCL.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-OpenCL.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/OpenSSL"]
	path = arrangements/ExternalLibraries/OpenSSL
	url = https://github.com/einsteintoolkit/ExternalLibraries-OpenSSL.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-OpenSSL.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/PAPI"]
	path = arrangements/ExternalLibraries/PAPI
	url = https://github.com/einsteintoolkit/ExternalLibraries-PAPI.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-PAPI.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/pciutils"]
	path = arrangements/ExternalLibraries/pciutils
	url = https://github.com/einsteintoolkit/ExternalLibraries-pciutils.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-pciutils.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/PETSc"]
	path = arrangements/ExternalLibraries/PETSc
	url = https://github.com/einsteintoolkit/ExternalLibraries-PETSc.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-PETSc.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/pthreads"]
	path = arrangements/ExternalLibraries/pthreads
	url = https://github.com/einsteintoolkit/ExternalLibraries-pthreads.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-pthreads.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/zlib"]
	path = arrangements/ExternalLibraries/zlib
	url = https://github.com/einsteintoolkit/ExternalLibraries-zlib.git
	revision = master
	branch = master
	upstreamurl = git@github.com:einsteintoolkit/ExternalLibraries-zlib.git
	upstreamtype = git
[submodule "arrangements/PITTNullCode"]
	path = arrangements/PITTNullCode
	url = https://bitbucket.org/einsteintoolkit/pittnullcode.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:einsteintoolkit/pittnullcode.git
	upstreamtype = git
[submodule "arrangements/WVUThorns"]
	path = arrangements/WVUThorns
	url = https://bitbucket.org/zach_etienne/wvuthorns.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:zach_etienne/wvuthorns.git
	upstreamtype = git
[submodule "flesh"]
	path = flesh
	url = https://bitbucket.org/cactuscode/cactus.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/cactus.git
	upstreamtype = git
[submodule "manifest"]
	path = manifest
	url = https://bitbucket.org/einsteintoolkit/manifest.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:einsteintoolkit/manifest.git
	upstreamtype = git
[submodule "repos/carpet"]
	path = repos/carpet
	url = https://bitbucket.org/eschnett/carpet.git
	upstreamurl = git@bitbucket.org:eschnett/carpet.git
	upstreamtype = git
	revision = master
	branch = master
[submodule "repos/CRL"]
	path = repos/CRL
	url = git://github.com/gridaphobe/CRL.git
	revision = master
	branch = master
	upstreamurl = git@github.com:gridaphobe/CRL.git
	upstreamtype = git
[submodule "repos/EinsteinExact"]
	path = repos/EinsteinExact
	url = git://github.com/barrywardell/EinsteinExact.git
	upstreamurl = git@github.com:barrywardell/EinsteinExact.git
	upstreamtype = git
	revision = master
	branch = master
[submodule "repos/Kranc"]
	path = repos/Kranc
	url = git://github.com/ianhinder/Kranc.git
	revision = master
	branch = master
	upstreamurl = git@github.com:ianhinder/Kranc.git
	upstreamtype = git
[submodule "repos/McLachlan"]
	path = repos/McLachlan
	url = https://bitbucket.org/einsteintoolkit/mclachlan
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:einsteintoolkit/mclachlan
	upstreamtype = git
[submodule "simfactory"]
	path = simfactory
	url = https://bitbucket.org/simfactory/simfactory2.git
	upstreamurl = https://bitbucket.org/simfactory/simfactory2.git
	upstreamtype = git
	revision = master
	branch = master
[submodule "utils"]
	path = utils
	url = https://bitbucket.org/cactuscode/utilities.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/utilities.git
	upstreamtype = git
[submodule "arrangements/CactusDoc/CoreDoc"]
	path = arrangements/CactusDoc/CoreDoc
	url = https://bitbucket.org/cactuscode/coredoc.git
	upstreamurl = git@bitbucket.org:cactuscode/coredoc.git
	upstreamtype = git
	revision = master
	branch = master
[submodule "arrangements/Numerical"]
	path = arrangements/Numerical
	url = https://bitbucket.org/cactuscode/numerical.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:cactuscode/numerical.git
	upstreamtype = git
[submodule "arrangements/CTThorns"]
	path = arrangements/CTThorns
	url = https://bitbucket.org/eloisa/ctthorns.git
	revision = master
	branch = master
	upstreamurl = git@bitbucket.org:eloisa/ctthorns.git
	upstreamtype = git
[submodule "arrangements/Llama"]
	path = arrangements/Llama
	url = https://bitbucket.org/llamacode/Llama.git
	revision = master
        branch = master
	upstreamurl = git@bitbucket.org:llamacode/Llama.git
	upstreamtype = git
[submodule "arrangements/Lean"]
	path = arrangements/Lean
	url = https://bitbucket.org/canuda/lean_public.git
	branch = master
	revision = master
	upstreamurl = git@bitbucket.org:canuda/lean_public.git
	upstreamtype = git
[submodule "arrangements/Proca"]
	path = arrangements/Proca
	url = https://bitbucket.org/canuda/Proca.git
	branch = master
	revision = master
	upstreamurl = git@bitbucket.org:canuda/Proca.git
	upstreamtype = git
[submodule "arrangements/WVUThorns_Diagnostics"]
	path = arrangements/WVUThorns_Diagnostics
	url = https://bitbucket.org/zach_etienne/wvuthorns_diagnostics.git
	branch = master
	revision = master
	upstreamurl = git@bitbucket.org:zach_etienne/wvuthorns_diagnostics.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/LORENE2"]
	path = arrangements/ExternalLibraries/LORENE2
	url = https://bitbucket.org/einsteintoolkit/lorene.git
	branch = master
	revision = master
	upstreamurl = git@bitbucket.org:einsteintoolkit/lorene.git
	upstreamtype = git
