[submodule "arrangements/CactusBase"]
	path = arrangements/CactusBase
	url = https://bitbucket.org/cactuscode/cactusbase.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:cactuscode/cactusbase.git
	upstreamtype = git
[submodule "arrangements/CactusConnect"]
	path = arrangements/CactusConnect
	url = https://bitbucket.org/cactuscode/cactusconnect.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:cactuscode/cactusconnect.git
	upstreamtype = git
[submodule "arrangements/CactusElliptic"]
	path = arrangements/CactusElliptic
	url = https://bitbucket.org/cactuscode/cactuselliptic.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:cactuscode/cactuselliptic.git
	upstreamtype = git
[submodule "arrangements/CactusExamples"]
	path = arrangements/CactusExamples
	url = https://bitbucket.org/cactuscode/cactusexamples.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:cactuscode/cactusexamples.git
	upstreamtype = git
[submodule "arrangements/CactusIO"]
	path = arrangements/CactusIO
	url = https://bitbucket.org/cactuscode/cactusio.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:cactuscode/cactusio.git
	upstreamtype = git
[submodule "arrangements/CactusNumerical"]
	path = arrangements/CactusNumerical
	url = https://bitbucket.org/cactuscode/cactusnumerical.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:cactuscode/cactusnumerical.git
	upstreamtype = git
[submodule "arrangements/CactusPUGH"]
	path = arrangements/CactusPUGH
	url = https://bitbucket.org/cactuscode/cactuspugh.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:cactuscode/cactuspugh.git
	upstreamtype = git
[submodule "arrangements/CactusPUGHIO"]
	path = arrangements/CactusPUGHIO
	url = https://bitbucket.org/cactuscode/cactuspughio.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:cactuscode/cactuspughio.git
	upstreamtype = git
[submodule "arrangements/CactusTest"]
	path = arrangements/CactusTest
	url = https://bitbucket.org/cactuscode/cactustest.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:cactuscode/cactustest.git
	upstreamtype = git
[submodule "arrangements/CactusUtils"]
	path = arrangements/CactusUtils
	url = https://bitbucket.org/cactuscode/cactusutils.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:cactuscode/cactusutils.git
	upstreamtype = git
[submodule "arrangements/CactusWave"]
	path = arrangements/CactusWave
	url = https://bitbucket.org/cactuscode/cactuswave.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:cactuscode/cactuswave.git
	upstreamtype = git
[submodule "arrangements/EinsteinAnalysis"]
	path = arrangements/EinsteinAnalysis
	url = https://bitbucket.org/einsteintoolkit/einsteinanalysis.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:einsteintoolkit/einsteinanalysis.git
	upstreamtype = git
[submodule "arrangements/EinsteinBase"]
	path = arrangements/EinsteinBase
	url = https://bitbucket.org/einsteintoolkit/einsteinbase.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:einsteintoolkit/einsteinbase.git
	upstreamtype = git
[submodule "arrangements/EinsteinEOS"]
	path = arrangements/EinsteinEOS
	url = https://bitbucket.org/einsteintoolkit/einsteineos.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:einsteintoolkit/einsteineos.git
	upstreamtype = git
[submodule "arrangements/EinsteinEvolve"]
	path = arrangements/EinsteinEvolve
	url = https://bitbucket.org/einsteintoolkit/einsteinevolve.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:einsteintoolkit/einsteinevolve.git
	upstreamtype = git
[submodule "arrangements/EinsteinExamples"]
	path = arrangements/EinsteinExamples
	url = https://bitbucket.org/einsteintoolkit/einsteinexamples.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:einsteintoolkit/einsteinexamples.git
	upstreamtype = git
[submodule "arrangements/EinsteinInitialData"]
	path = arrangements/EinsteinInitialData
	url = https://bitbucket.org/einsteintoolkit/einsteininitialdata.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:einsteintoolkit/einsteininitialdata.git
	upstreamtype = git
[submodule "arrangements/EinsteinUtils"]
	path = arrangements/EinsteinUtils
	url = https://bitbucket.org/einsteintoolkit/einsteinutils.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:einsteintoolkit/einsteinutils.git
	upstreamtype = git
[submodule "arrangements/ExternalLibraries/BLAS"]
	path = arrangements/ExternalLibraries/BLAS
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/BLAS
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/projects/ExternalLibraries/BLAS
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/FFTW3"]
	path = arrangements/ExternalLibraries/FFTW3
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/FFTW3
	upstreamurl = https://svn.cactuscode.org/projects/ExternalLibraries/FFTW3
	upstreamtype = svn
	revision = ET_2015_05
	branch = ET_2015_05
[submodule "arrangements/ExternalLibraries/GSL"]
	path = arrangements/ExternalLibraries/GSL
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/GSL
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/projects/ExternalLibraries/GSL
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/HDF5"]
	path = arrangements/ExternalLibraries/HDF5
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/HDF5
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/projects/ExternalLibraries/HDF5
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/hwloc"]
	path = arrangements/ExternalLibraries/hwloc
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/hwloc.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/projects/ExternalLibraries/hwloc
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/LAPACK"]
	path = arrangements/ExternalLibraries/LAPACK
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/LAPACK
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/projects/ExternalLibraries/LAPACK
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/libjpeg"]
	path = arrangements/ExternalLibraries/libjpeg
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/libjpeg
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/projects/ExternalLibraries/libjpeg
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/LORENE"]
	path = arrangements/ExternalLibraries/LORENE
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/LORENE
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/projects/ExternalLibraries/LORENE
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/MPI"]
	path = arrangements/ExternalLibraries/MPI
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/MPI
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/projects/ExternalLibraries/MPI
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/OpenBLAS"]
	path = arrangements/ExternalLibraries/OpenBLAS
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/OpenBLAS
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/projects/ExternalLibraries/OpenBLAS
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/OpenCL"]
	path = arrangements/ExternalLibraries/OpenCL
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/OpenCL
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/arrangements/ExternalLibraries/OpenCL
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/OpenSSL"]
	path = arrangements/ExternalLibraries/OpenSSL
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/OpenSSL
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/projects/ExternalLibraries/OpenSSL
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/PAPI"]
	path = arrangements/ExternalLibraries/PAPI
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/PAPI
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/projects/ExternalLibraries/PAPI
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/pciutils"]
	path = arrangements/ExternalLibraries/pciutils
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/pciutils
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/arrangements/ExternalLibraries/pciutils
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/PETSc"]
	path = arrangements/ExternalLibraries/PETSc
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/PETSc
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/arrangements/ExternalLibraries/PETSc
	upstreamtype = svn
[submodule "arrangements/ExternalLibraries/zlib"]
	path = arrangements/ExternalLibraries/zlib
	url = git://git.barrywardell.net/arrangements/ExternalLibraries/zlib
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = https://svn.cactuscode.org/projects/ExternalLibraries/zlib
	upstreamtype = svn
[submodule "arrangements/PITTNullCode"]
	path = arrangements/PITTNullCode
	url = https://bitbucket.org/einsteintoolkit/pittnullcode.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:einsteintoolkit/pittnullcode.git
	upstreamtype = git
[submodule "flesh"]
	path = flesh
	url = https://bitbucket.org/cactuscode/cactus.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:cactuscode/cactus.git
	upstreamtype = git
[submodule "manifest"]
	path = manifest
	url = https://bitbucket.org/einsteintoolkit/manifest.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:einsteintoolkit/manifest.git
	upstreamtype = git
[submodule "repos/carpet"]
	path = repos/carpet
	url = https://bitbucket.org/eschnett/carpet.git
	upstreamurl = git@bitbucket.org:eschnett/carpet.git
	upstreamtype = git
	revision = ET_2015_05
	branch = ET_2015_05
[submodule "repos/CRL"]
	path = repos/CRL
	url = git://github.com/gridaphobe/CRL.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@github.com:gridaphobe/CRL.git
	upstreamtype = git
[submodule "repos/EinsteinExact"]
	path = repos/EinsteinExact
	url = git://github.com/barrywardell/EinsteinExact.git
	upstreamurl = git@github.com:barrywardell/EinsteinExact.git
	upstreamtype = git
	revision = ET_2015_05
	branch = ET_2015_05
[submodule "repos/Kranc"]
	path = repos/Kranc
	url = git://github.com/ianhinder/Kranc.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@github.com:ianhinder/Kranc.git
	upstreamtype = git
[submodule "repos/McLachlan"]
	path = repos/McLachlan
	url = https://bitbucket.org/einsteintoolkit/mclachlan
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:einsteintoolkit/mclachlan
	upstreamtype = git
[submodule "simfactory"]
	path = simfactory
	url = https://bitbucket.org/simfactory/simfactory2.git
	upstreamurl = https://bitbucket.org/simfactory/simfactory2.git
	upstreamtype = git
	revision = ET_2015_05
	branch = ET_2015_05
[submodule "utils"]
	path = utils
	url = https://bitbucket.org/cactuscode/utilities.git
	revision = ET_2015_05
	branch = ET_2015_05
	upstreamurl = git@bitbucket.org:cactuscode/utilities.git
	upstreamtype = git
[submodule "arrangements/CactusDoc/CoreDoc"]
	path = arrangements/CactusDoc/CoreDoc
	url = https://bitbucket.org/cactuscode/coredoc.git
	upstreamurl = git@bitbucket.org:cactuscode/coredoc.git
	upstreamtype = git
	revision = ET_2015_05
	branch = ET_2015_05
[submodule "repos/archivedthorns-aeilocalinterp"]
	path = repos/archivedthorns-aeilocalinterp
	url = https://bitbucket.org/einsteintoolkit/archivedthorns-aeilocalinterp
	branch = ET_2015_05
        revision = ET_2015_05
        upstreamurl = git@bitbucket.org:einsteintoolkit/archivedthorns-aeilocalinterp.git
        upstreamtype = git
[submodule "repos/archivedthorns-admmass"]
	path = repos/archivedthorns-admmass
	url = https://bitbucket.org/einsteintoolkit/archivedthorns-admmass
	branch = ET_2015_05
        revision = ET_2015_05
        upstreamurl = git@bitbucket.org:einsteintoolkit/archivedthorns-admmass.git
        upstreamtype = git
[submodule "repos/archivedthorns-puncturetracker"]
	path = repos/archivedthorns-puncturetracker
	url = https://bitbucket.org/einsteintoolkit/archivedthorns-puncturetracker
	branch = ET_2015_05
        revision = ET_2015_05
        upstreamurl = git@bitbucket.org:einsteintoolkit/archivedthorns-puncturetracker.git
        upstreamtype = git
[submodule "repos/archivedthorns-systemstatistics"]
	path = repos/archivedthorns-systemstatistics
	url = https://bitbucket.org/einsteintoolkit/archivedthorns-systemstatistics
	branch = ET_2015_05
        revision = ET_2015_05
        upstreamurl = git@bitbucket.org:einsteintoolkit/archivedthorns-systemstatistics.git
        upstreamtype = git
[submodule "repos/archivedthorns-trigger"]
	path = repos/archivedthorns-trigger
	url = https://bitbucket.org/einsteintoolkit/archivedthorns-trigger
	branch = ET_2015_05
        revision = ET_2015_05
        upstreamurl = git@bitbucket.org:einsteintoolkit/archivedthorns-trigger.git
        upstreamtype = git
[submodule "repos/archivedthorns-quasilocalmeasures"]
	path = repos/archivedthorns-quasilocalmeasures
	url = https://bitbucket.org/einsteintoolkit/archivedthorns-quasilocalmeasures
	branch = ET_2015_05
        revision = ET_2015_05
        upstreamurl = git@bitbucket.org:einsteintoolkit/archivedthorns-quasilocalmeasures.git
        upstreamtype = git
[submodule "repos/archivedthorns-summationbyparts"]
	path = repos/archivedthorns-summationbyparts
	url = https://bitbucket.org/einsteintoolkit/archivedthorns-summationbyparts
	branch = ET_2015_05
        revision = ET_2015_05
        upstreamurl = git@bitbucket.org:einsteintoolkit/archivedthorns-summationbyparts.git
        upstreamtype = git
[submodule "repos/archivedthorns-vectors"]
	path = repos/archivedthorns-vectors
	url = https://bitbucket.org/einsteintoolkit/archivedthorns-vectors
	branch = ET_2015_05
        revision = ET_2015_05
        upstreamurl = git@bitbucket.org:einsteintoolkit/archivedthorns-vectors.git
        upstreamtype = git
[submodule "repos/archivedthorns-periodiccarpet"]
	path = repos/archivedthorns-periodiccarpet
	url = https://bitbucket.org/einsteintoolkit/archivedthorns-periodiccarpet
	branch = ET_2015_05
        revision = ET_2015_05
        upstreamurl = git@bitbucket.org:einsteintoolkit/archivedthorns-periodiccarpet.git
        upstreamtype = git

