 
/* start css.sty */
.cmmi-10{font-style: italic;}
.cmr-17{font-size:170%;}
.cmr-12{font-size:120%;}
.cmmi-12{font-size:120%;font-style: italic;}
.cmr-9{font-size:90%;}
.cmbx-9{font-size:90%; font-weight: bold;}
.cmbx-9{ font-weight: bold;}
.cmtt-9{font-size:90%;font-family: monospace,monospace;}
.cmtt-9{font-family: monospace,monospace;}
.cmtt-10{font-family: monospace,monospace;}
.cmtt-10{font-family: monospace,monospace;}
.cmti-10{ font-style: italic;}
.cmbx-10{ font-weight: bold;}
.cmbx-10{ font-weight: bold;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
code.verb{font-family:monospace,monospace;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
.subsectionToc, .likesubsectionToc {margin-left:1em;}
.subsubsectionToc, .likesubsubsectionToc {margin-left:2em;}
.paragraphToc, .likeparagraphToc {margin-left:3em;}
.subparagraphToc, .likesubparagraphToc {margin-left:4em;}
.rotatebox{display: inline-block;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
code.lstinline{font-family:monospace,monospace;}
pre.listings{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
.lstlisting .label{margin-right:0.5em; }
pre.lstlisting{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
pre.lstinputlisting{ font-family: monospace,monospace; white-space: pre-wrap; }
.lstinputlisting .label{margin-right:0.5em;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
div.array {text-align:center;}
#TBL-2-1{border-left: 1px solid black;}
#TBL-2-1{border-right:1px solid black;}
#TBL-2-3{border-right:1px solid black;}
td#TBL-2-1-1{border-left:solid black 0.4pt;}
td#TBL-2-1-1{border-left:solid black 0.4pt;}
td#TBL-2-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-2-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-2-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-2-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-2-4-2{border-right:solid black 0.4pt;}
td#TBL-2-4-2{border-right:solid black 0.4pt;}
#TBL-3-1{border-left: 1px solid black;}
#TBL-3-1{border-right:1px solid black;}
#TBL-3-3{border-right:1px solid black;}
td#TBL-3-1-1{border-left:solid black 0.4pt;}
td#TBL-3-1-1{border-left:solid black 0.4pt;}
td#TBL-3-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-3-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-3-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-3-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-3-4-2{border-right:solid black 0.4pt;}
td#TBL-3-4-2{border-right:solid black 0.4pt;}
#TBL-4-1{border-left: 1px solid black;}
#TBL-4-1{border-right:1px solid black;}
#TBL-4-3{border-right:1px solid black;}
td#TBL-4-1-1{border-left:solid black 0.4pt;}
td#TBL-4-1-1{border-left:solid black 0.4pt;}
td#TBL-4-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-4-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-4-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-4-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-4-4-2{border-right:solid black 0.4pt;}
td#TBL-4-4-2{border-right:solid black 0.4pt;}
#TBL-5-1{border-left: 1px solid black;}
#TBL-5-1{border-right:1px solid black;}
#TBL-5-3{border-right:1px solid black;}
td#TBL-5-1-1{border-left:solid black 0.4pt;}
td#TBL-5-1-1{border-left:solid black 0.4pt;}
td#TBL-5-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-5-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-5-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-5-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-5-4-2{border-right:solid black 0.4pt;}
td#TBL-5-4-2{border-right:solid black 0.4pt;}
#TBL-6-1{border-left: 1px solid black;}
#TBL-6-1{border-right:1px solid black;}
#TBL-6-3{border-right:1px solid black;}
td#TBL-6-1-1{border-left:solid black 0.4pt;}
td#TBL-6-1-1{border-left:solid black 0.4pt;}
td#TBL-6-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-6-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-6-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-6-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-6-4-2{border-right:solid black 0.4pt;}
td#TBL-6-4-2{border-right:solid black 0.4pt;}
#TBL-7-1{border-left: 1px solid black;}
#TBL-7-1{border-right:1px solid black;}
#TBL-7-3{border-right:1px solid black;}
td#TBL-7-1-1{border-left:solid black 0.4pt;}
td#TBL-7-1-1{border-left:solid black 0.4pt;}
td#TBL-7-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-7-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-7-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-7-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-7-4-2{border-right:solid black 0.4pt;}
td#TBL-7-4-2{border-right:solid black 0.4pt;}
td#TBL-7-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-7-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-7-5-2{border-right:solid black 0.4pt;}
td#TBL-7-5-2{border-right:solid black 0.4pt;}
td#TBL-7-6-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-7-6-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-7-6-2{border-right:solid black 0.4pt;}
td#TBL-7-6-2{border-right:solid black 0.4pt;}
#TBL-8-1{border-left: 1px solid black;}
#TBL-8-1{border-right:1px solid black;}
#TBL-8-3{border-right:1px solid black;}
td#TBL-8-1-1{border-left:solid black 0.4pt;}
td#TBL-8-1-1{border-left:solid black 0.4pt;}
td#TBL-8-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-8-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-8-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-8-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-8-4-2{border-right:solid black 0.4pt;}
td#TBL-8-4-2{border-right:solid black 0.4pt;}
#TBL-9-1{border-left: 1px solid black;}
#TBL-9-1{border-right:1px solid black;}
#TBL-9-3{border-right:1px solid black;}
td#TBL-9-1-1{border-left:solid black 0.4pt;}
td#TBL-9-1-1{border-left:solid black 0.4pt;}
td#TBL-9-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-9-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-9-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-9-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-9-4-2{border-right:solid black 0.4pt;}
td#TBL-9-4-2{border-right:solid black 0.4pt;}
#TBL-10-1{border-left: 1px solid black;}
#TBL-10-1{border-right:1px solid black;}
#TBL-10-3{border-right:1px solid black;}
td#TBL-10-1-1{border-left:solid black 0.4pt;}
td#TBL-10-1-1{border-left:solid black 0.4pt;}
td#TBL-10-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-10-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-10-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-10-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-10-4-2{border-right:solid black 0.4pt;}
td#TBL-10-4-2{border-right:solid black 0.4pt;}
#TBL-11-1{border-left: 1px solid black;}
#TBL-11-1{border-right:1px solid black;}
#TBL-11-3{border-right:1px solid black;}
td#TBL-11-1-1{border-left:solid black 0.4pt;}
td#TBL-11-1-1{border-left:solid black 0.4pt;}
td#TBL-11-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-11-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-11-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-11-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-11-4-2{border-right:solid black 0.4pt;}
td#TBL-11-4-2{border-right:solid black 0.4pt;}
#TBL-12-1{border-left: 1px solid black;}
#TBL-12-1{border-right:1px solid black;}
#TBL-12-3{border-right:1px solid black;}
td#TBL-12-1-1{border-left:solid black 0.4pt;}
td#TBL-12-1-1{border-left:solid black 0.4pt;}
td#TBL-12-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-12-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-12-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-12-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-12-4-2{border-right:solid black 0.4pt;}
td#TBL-12-4-2{border-right:solid black 0.4pt;}
#TBL-13-1{border-left: 1px solid black;}
#TBL-13-1{border-right:1px solid black;}
#TBL-13-3{border-right:1px solid black;}
td#TBL-13-1-1{border-left:solid black 0.4pt;}
td#TBL-13-1-1{border-left:solid black 0.4pt;}
td#TBL-13-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-13-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-13-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-13-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-13-4-2{border-right:solid black 0.4pt;}
td#TBL-13-4-2{border-right:solid black 0.4pt;}
td#TBL-13-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-13-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-13-5-2{border-right:solid black 0.4pt;}
td#TBL-13-5-2{border-right:solid black 0.4pt;}
#TBL-14-1{border-left: 1px solid black;}
#TBL-14-1{border-right:1px solid black;}
#TBL-14-3{border-right:1px solid black;}
td#TBL-14-1-1{border-left:solid black 0.4pt;}
td#TBL-14-1-1{border-left:solid black 0.4pt;}
td#TBL-14-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-14-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-14-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-14-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-14-4-2{border-right:solid black 0.4pt;}
td#TBL-14-4-2{border-right:solid black 0.4pt;}
#TBL-15-1{border-left: 1px solid black;}
#TBL-15-1{border-right:1px solid black;}
#TBL-15-3{border-right:1px solid black;}
td#TBL-15-1-1{border-left:solid black 0.4pt;}
td#TBL-15-1-1{border-left:solid black 0.4pt;}
td#TBL-15-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-15-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-15-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-15-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-15-4-2{border-right:solid black 0.4pt;}
td#TBL-15-4-2{border-right:solid black 0.4pt;}
#TBL-16-1{border-left: 1px solid black;}
#TBL-16-1{border-right:1px solid black;}
#TBL-16-3{border-right:1px solid black;}
td#TBL-16-1-1{border-left:solid black 0.4pt;}
td#TBL-16-1-1{border-left:solid black 0.4pt;}
td#TBL-16-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-16-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-16-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-16-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-16-4-2{border-right:solid black 0.4pt;}
td#TBL-16-4-2{border-right:solid black 0.4pt;}
#TBL-17-1{border-left: 1px solid black;}
#TBL-17-1{border-right:1px solid black;}
#TBL-17-3{border-right:1px solid black;}
td#TBL-17-1-1{border-left:solid black 0.4pt;}
td#TBL-17-1-1{border-left:solid black 0.4pt;}
td#TBL-17-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-17-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-17-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-17-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-17-4-2{border-right:solid black 0.4pt;}
td#TBL-17-4-2{border-right:solid black 0.4pt;}
#TBL-18-1{border-left: 1px solid black;}
#TBL-18-1{border-right:1px solid black;}
#TBL-18-3{border-right:1px solid black;}
td#TBL-18-1-1{border-left:solid black 0.4pt;}
td#TBL-18-1-1{border-left:solid black 0.4pt;}
td#TBL-18-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-18-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-18-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-18-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-18-4-2{border-right:solid black 0.4pt;}
td#TBL-18-4-2{border-right:solid black 0.4pt;}
#TBL-19-1{border-left: 1px solid black;}
#TBL-19-1{border-right:1px solid black;}
#TBL-19-3{border-right:1px solid black;}
td#TBL-19-1-1{border-left:solid black 0.4pt;}
td#TBL-19-1-1{border-left:solid black 0.4pt;}
td#TBL-19-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-19-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-19-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-19-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-19-4-2{border-right:solid black 0.4pt;}
td#TBL-19-4-2{border-right:solid black 0.4pt;}
td#TBL-19-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-19-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-19-5-2{border-right:solid black 0.4pt;}
td#TBL-19-5-2{border-right:solid black 0.4pt;}
#TBL-20-1{border-left: 1px solid black;}
#TBL-20-1{border-right:1px solid black;}
#TBL-20-3{border-right:1px solid black;}
td#TBL-20-1-1{border-left:solid black 0.4pt;}
td#TBL-20-1-1{border-left:solid black 0.4pt;}
td#TBL-20-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-20-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-20-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-20-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-20-4-2{border-right:solid black 0.4pt;}
td#TBL-20-4-2{border-right:solid black 0.4pt;}
#TBL-21-1{border-left: 1px solid black;}
#TBL-21-1{border-right:1px solid black;}
#TBL-21-3{border-right:1px solid black;}
td#TBL-21-1-1{border-left:solid black 0.4pt;}
td#TBL-21-1-1{border-left:solid black 0.4pt;}
td#TBL-21-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-21-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-21-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-21-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-21-4-2{border-right:solid black 0.4pt;}
td#TBL-21-4-2{border-right:solid black 0.4pt;}
#TBL-22-1{border-left: 1px solid black;}
#TBL-22-1{border-right:1px solid black;}
#TBL-22-3{border-right:1px solid black;}
td#TBL-22-1-1{border-left:solid black 0.4pt;}
td#TBL-22-1-1{border-left:solid black 0.4pt;}
td#TBL-22-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-22-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-22-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-22-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-22-4-2{border-right:solid black 0.4pt;}
td#TBL-22-4-2{border-right:solid black 0.4pt;}
#TBL-23-1{border-left: 1px solid black;}
#TBL-23-1{border-right:1px solid black;}
#TBL-23-3{border-right:1px solid black;}
td#TBL-23-1-1{border-left:solid black 0.4pt;}
td#TBL-23-1-1{border-left:solid black 0.4pt;}
td#TBL-23-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-23-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-23-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-23-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-23-4-2{border-right:solid black 0.4pt;}
td#TBL-23-4-2{border-right:solid black 0.4pt;}
#TBL-24-1{border-left: 1px solid black;}
#TBL-24-1{border-right:1px solid black;}
#TBL-24-3{border-right:1px solid black;}
td#TBL-24-1-1{border-left:solid black 0.4pt;}
td#TBL-24-1-1{border-left:solid black 0.4pt;}
td#TBL-24-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-24-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-24-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-24-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-24-4-2{border-right:solid black 0.4pt;}
td#TBL-24-4-2{border-right:solid black 0.4pt;}
td#TBL-24-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-24-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-24-5-2{border-right:solid black 0.4pt;}
td#TBL-24-5-2{border-right:solid black 0.4pt;}
#TBL-25-1{border-left: 1px solid black;}
#TBL-25-1{border-right:1px solid black;}
#TBL-25-3{border-right:1px solid black;}
td#TBL-25-1-1{border-left:solid black 0.4pt;}
td#TBL-25-1-1{border-left:solid black 0.4pt;}
td#TBL-25-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-25-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-25-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-25-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-25-4-2{border-right:solid black 0.4pt;}
td#TBL-25-4-2{border-right:solid black 0.4pt;}
#TBL-26-1{border-left: 1px solid black;}
#TBL-26-1{border-right:1px solid black;}
#TBL-26-3{border-right:1px solid black;}
td#TBL-26-1-1{border-left:solid black 0.4pt;}
td#TBL-26-1-1{border-left:solid black 0.4pt;}
td#TBL-26-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-26-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-26-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-26-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-26-4-2{border-right:solid black 0.4pt;}
td#TBL-26-4-2{border-right:solid black 0.4pt;}
#TBL-27-1{border-left: 1px solid black;}
#TBL-27-1{border-right:1px solid black;}
#TBL-27-3{border-right:1px solid black;}
td#TBL-27-1-1{border-left:solid black 0.4pt;}
td#TBL-27-1-1{border-left:solid black 0.4pt;}
td#TBL-27-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-27-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-27-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-27-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-27-4-2{border-right:solid black 0.4pt;}
td#TBL-27-4-2{border-right:solid black 0.4pt;}
#TBL-28-1{border-left: 1px solid black;}
#TBL-28-1{border-right:1px solid black;}
#TBL-28-3{border-right:1px solid black;}
td#TBL-28-1-1{border-left:solid black 0.4pt;}
td#TBL-28-1-1{border-left:solid black 0.4pt;}
td#TBL-28-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-28-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-28-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-28-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-28-4-2{border-right:solid black 0.4pt;}
td#TBL-28-4-2{border-right:solid black 0.4pt;}
#TBL-29-1{border-left: 1px solid black;}
#TBL-29-1{border-right:1px solid black;}
#TBL-29-3{border-right:1px solid black;}
td#TBL-29-1-1{border-left:solid black 0.4pt;}
td#TBL-29-1-1{border-left:solid black 0.4pt;}
td#TBL-29-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-29-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-29-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-29-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-29-4-2{border-right:solid black 0.4pt;}
td#TBL-29-4-2{border-right:solid black 0.4pt;}
#TBL-30-1{border-left: 1px solid black;}
#TBL-30-1{border-right:1px solid black;}
#TBL-30-3{border-right:1px solid black;}
td#TBL-30-1-1{border-left:solid black 0.4pt;}
td#TBL-30-1-1{border-left:solid black 0.4pt;}
td#TBL-30-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-30-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-30-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-30-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-30-4-2{border-right:solid black 0.4pt;}
td#TBL-30-4-2{border-right:solid black 0.4pt;}
#TBL-31-1{border-left: 1px solid black;}
#TBL-31-1{border-right:1px solid black;}
#TBL-31-3{border-right:1px solid black;}
td#TBL-31-1-1{border-left:solid black 0.4pt;}
td#TBL-31-1-1{border-left:solid black 0.4pt;}
td#TBL-31-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-31-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-31-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-31-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-31-4-2{border-right:solid black 0.4pt;}
td#TBL-31-4-2{border-right:solid black 0.4pt;}
td#TBL-31-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-31-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-31-5-2{border-right:solid black 0.4pt;}
td#TBL-31-5-2{border-right:solid black 0.4pt;}
#TBL-32-1{border-left: 1px solid black;}
#TBL-32-1{border-right:1px solid black;}
#TBL-32-3{border-right:1px solid black;}
td#TBL-32-1-1{border-left:solid black 0.4pt;}
td#TBL-32-1-1{border-left:solid black 0.4pt;}
td#TBL-32-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-32-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-32-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-32-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-32-4-2{border-right:solid black 0.4pt;}
td#TBL-32-4-2{border-right:solid black 0.4pt;}
td#TBL-32-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-32-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-32-5-2{border-right:solid black 0.4pt;}
td#TBL-32-5-2{border-right:solid black 0.4pt;}
td#TBL-32-6-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-32-6-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-32-6-2{border-right:solid black 0.4pt;}
td#TBL-32-6-2{border-right:solid black 0.4pt;}
#TBL-33-1{border-left: 1px solid black;}
#TBL-33-1{border-right:1px solid black;}
#TBL-33-3{border-right:1px solid black;}
td#TBL-33-1-1{border-left:solid black 0.4pt;}
td#TBL-33-1-1{border-left:solid black 0.4pt;}
td#TBL-33-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-33-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-33-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-33-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-33-4-2{border-right:solid black 0.4pt;}
td#TBL-33-4-2{border-right:solid black 0.4pt;}
#TBL-34-1{border-left: 1px solid black;}
#TBL-34-1{border-right:1px solid black;}
#TBL-34-3{border-right:1px solid black;}
td#TBL-34-1-1{border-left:solid black 0.4pt;}
td#TBL-34-1-1{border-left:solid black 0.4pt;}
td#TBL-34-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-34-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-34-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-34-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-34-4-2{border-right:solid black 0.4pt;}
td#TBL-34-4-2{border-right:solid black 0.4pt;}
td#TBL-34-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-34-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-34-5-2{border-right:solid black 0.4pt;}
td#TBL-34-5-2{border-right:solid black 0.4pt;}
#TBL-35-1{border-left: 1px solid black;}
#TBL-35-1{border-right:1px solid black;}
#TBL-35-3{border-right:1px solid black;}
td#TBL-35-1-1{border-left:solid black 0.4pt;}
td#TBL-35-1-1{border-left:solid black 0.4pt;}
td#TBL-35-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-35-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-35-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-35-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-35-4-2{border-right:solid black 0.4pt;}
td#TBL-35-4-2{border-right:solid black 0.4pt;}
#TBL-36-1{border-left: 1px solid black;}
#TBL-36-1{border-right:1px solid black;}
#TBL-36-3{border-right:1px solid black;}
td#TBL-36-1-1{border-left:solid black 0.4pt;}
td#TBL-36-1-1{border-left:solid black 0.4pt;}
td#TBL-36-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-36-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-36-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-36-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-36-4-2{border-right:solid black 0.4pt;}
td#TBL-36-4-2{border-right:solid black 0.4pt;}
#TBL-37-1{border-left: 1px solid black;}
#TBL-37-1{border-right:1px solid black;}
#TBL-37-3{border-right:1px solid black;}
td#TBL-37-1-1{border-left:solid black 0.4pt;}
td#TBL-37-1-1{border-left:solid black 0.4pt;}
td#TBL-37-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-37-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-37-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-37-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-37-4-2{border-right:solid black 0.4pt;}
td#TBL-37-4-2{border-right:solid black 0.4pt;}
td#TBL-37-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-37-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-37-5-2{border-right:solid black 0.4pt;}
td#TBL-37-5-2{border-right:solid black 0.4pt;}
#TBL-38-1{border-left: 1px solid black;}
#TBL-38-1{border-right:1px solid black;}
#TBL-38-3{border-right:1px solid black;}
td#TBL-38-1-1{border-left:solid black 0.4pt;}
td#TBL-38-1-1{border-left:solid black 0.4pt;}
td#TBL-38-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-38-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-38-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-38-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-38-4-2{border-right:solid black 0.4pt;}
td#TBL-38-4-2{border-right:solid black 0.4pt;}
td#TBL-38-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-38-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-38-5-2{border-right:solid black 0.4pt;}
td#TBL-38-5-2{border-right:solid black 0.4pt;}
td#TBL-38-6-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-38-6-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-38-6-2{border-right:solid black 0.4pt;}
td#TBL-38-6-2{border-right:solid black 0.4pt;}
td#TBL-38-7-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-38-7-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-38-7-2{border-right:solid black 0.4pt;}
td#TBL-38-7-2{border-right:solid black 0.4pt;}
td#TBL-38-8-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-38-8-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-38-8-2{border-right:solid black 0.4pt;}
td#TBL-38-8-2{border-right:solid black 0.4pt;}
#TBL-39-1{border-left: 1px solid black;}
#TBL-39-1{border-right:1px solid black;}
#TBL-39-3{border-right:1px solid black;}
td#TBL-39-1-1{border-left:solid black 0.4pt;}
td#TBL-39-1-1{border-left:solid black 0.4pt;}
td#TBL-39-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-39-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-39-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-39-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-39-4-2{border-right:solid black 0.4pt;}
td#TBL-39-4-2{border-right:solid black 0.4pt;}
#TBL-40-1{border-left: 1px solid black;}
#TBL-40-1{border-right:1px solid black;}
#TBL-40-3{border-right:1px solid black;}
td#TBL-40-1-1{border-left:solid black 0.4pt;}
td#TBL-40-1-1{border-left:solid black 0.4pt;}
td#TBL-40-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-40-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-40-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-40-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-40-4-2{border-right:solid black 0.4pt;}
td#TBL-40-4-2{border-right:solid black 0.4pt;}
#TBL-41-1{border-left: 1px solid black;}
#TBL-41-1{border-right:1px solid black;}
#TBL-41-3{border-right:1px solid black;}
td#TBL-41-1-1{border-left:solid black 0.4pt;}
td#TBL-41-1-1{border-left:solid black 0.4pt;}
td#TBL-41-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-41-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-41-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-41-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-41-4-2{border-right:solid black 0.4pt;}
td#TBL-41-4-2{border-right:solid black 0.4pt;}
#TBL-42-1{border-left: 1px solid black;}
#TBL-42-1{border-right:1px solid black;}
#TBL-42-3{border-right:1px solid black;}
td#TBL-42-1-1{border-left:solid black 0.4pt;}
td#TBL-42-1-1{border-left:solid black 0.4pt;}
td#TBL-42-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-42-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-42-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-42-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-42-4-2{border-right:solid black 0.4pt;}
td#TBL-42-4-2{border-right:solid black 0.4pt;}
#TBL-43-1{border-left: 1px solid black;}
#TBL-43-1{border-right:1px solid black;}
#TBL-43-3{border-right:1px solid black;}
td#TBL-43-1-1{border-left:solid black 0.4pt;}
td#TBL-43-1-1{border-left:solid black 0.4pt;}
td#TBL-43-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-43-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-43-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-43-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-43-4-2{border-right:solid black 0.4pt;}
td#TBL-43-4-2{border-right:solid black 0.4pt;}
#TBL-44-1{border-left: 1px solid black;}
#TBL-44-1{border-right:1px solid black;}
#TBL-44-3{border-right:1px solid black;}
td#TBL-44-1-1{border-left:solid black 0.4pt;}
td#TBL-44-1-1{border-left:solid black 0.4pt;}
td#TBL-44-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-44-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-44-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-44-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-44-4-2{border-right:solid black 0.4pt;}
td#TBL-44-4-2{border-right:solid black 0.4pt;}
#TBL-45-1{border-left: 1px solid black;}
#TBL-45-1{border-right:1px solid black;}
#TBL-45-3{border-right:1px solid black;}
td#TBL-45-1-1{border-left:solid black 0.4pt;}
td#TBL-45-1-1{border-left:solid black 0.4pt;}
td#TBL-45-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-45-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-45-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-45-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-45-4-2{border-right:solid black 0.4pt;}
td#TBL-45-4-2{border-right:solid black 0.4pt;}
#TBL-46-1{border-left: 1px solid black;}
#TBL-46-1{border-right:1px solid black;}
#TBL-46-3{border-right:1px solid black;}
td#TBL-46-1-1{border-left:solid black 0.4pt;}
td#TBL-46-1-1{border-left:solid black 0.4pt;}
td#TBL-46-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-46-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-46-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-46-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-46-4-2{border-right:solid black 0.4pt;}
td#TBL-46-4-2{border-right:solid black 0.4pt;}
#TBL-47-1{border-left: 1px solid black;}
#TBL-47-1{border-right:1px solid black;}
#TBL-47-3{border-right:1px solid black;}
td#TBL-47-1-1{border-left:solid black 0.4pt;}
td#TBL-47-1-1{border-left:solid black 0.4pt;}
td#TBL-47-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-47-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-47-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-47-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-47-4-2{border-right:solid black 0.4pt;}
td#TBL-47-4-2{border-right:solid black 0.4pt;}
#TBL-48-1{border-left: 1px solid black;}
#TBL-48-1{border-right:1px solid black;}
#TBL-48-3{border-right:1px solid black;}
td#TBL-48-1-1{border-left:solid black 0.4pt;}
td#TBL-48-1-1{border-left:solid black 0.4pt;}
td#TBL-48-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-48-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-48-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-48-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-48-4-2{border-right:solid black 0.4pt;}
td#TBL-48-4-2{border-right:solid black 0.4pt;}
#TBL-49-1{border-left: 1px solid black;}
#TBL-49-1{border-right:1px solid black;}
#TBL-49-3{border-right:1px solid black;}
td#TBL-49-1-1{border-left:solid black 0.4pt;}
td#TBL-49-1-1{border-left:solid black 0.4pt;}
td#TBL-49-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-49-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-49-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-49-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-49-4-2{border-right:solid black 0.4pt;}
td#TBL-49-4-2{border-right:solid black 0.4pt;}
#TBL-50-1{border-left: 1px solid black;}
#TBL-50-1{border-right:1px solid black;}
#TBL-50-3{border-right:1px solid black;}
td#TBL-50-1-1{border-left:solid black 0.4pt;}
td#TBL-50-1-1{border-left:solid black 0.4pt;}
td#TBL-50-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-50-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-50-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-50-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-50-4-2{border-right:solid black 0.4pt;}
td#TBL-50-4-2{border-right:solid black 0.4pt;}
#TBL-51-1{border-left: 1px solid black;}
#TBL-51-1{border-right:1px solid black;}
#TBL-51-3{border-right:1px solid black;}
td#TBL-51-1-1{border-left:solid black 0.4pt;}
td#TBL-51-1-1{border-left:solid black 0.4pt;}
td#TBL-51-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-51-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-51-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-51-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-51-4-2{border-right:solid black 0.4pt;}
td#TBL-51-4-2{border-right:solid black 0.4pt;}
#TBL-52-1{border-left: 1px solid black;}
#TBL-52-1{border-right:1px solid black;}
#TBL-52-3{border-right:1px solid black;}
td#TBL-52-1-1{border-left:solid black 0.4pt;}
td#TBL-52-1-1{border-left:solid black 0.4pt;}
td#TBL-52-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-52-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-52-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-52-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-52-4-2{border-right:solid black 0.4pt;}
td#TBL-52-4-2{border-right:solid black 0.4pt;}
td#TBL-52-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-52-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-52-5-2{border-right:solid black 0.4pt;}
td#TBL-52-5-2{border-right:solid black 0.4pt;}
#TBL-53-1{border-left: 1px solid black;}
#TBL-53-1{border-right:1px solid black;}
#TBL-53-3{border-right:1px solid black;}
td#TBL-53-1-1{border-left:solid black 0.4pt;}
td#TBL-53-1-1{border-left:solid black 0.4pt;}
td#TBL-53-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-53-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-53-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-53-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-53-4-2{border-right:solid black 0.4pt;}
td#TBL-53-4-2{border-right:solid black 0.4pt;}
td#TBL-53-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-53-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-53-5-2{border-right:solid black 0.4pt;}
td#TBL-53-5-2{border-right:solid black 0.4pt;}
#TBL-54-1{border-left: 1px solid black;}
#TBL-54-1{border-right:1px solid black;}
#TBL-54-3{border-right:1px solid black;}
td#TBL-54-1-1{border-left:solid black 0.4pt;}
td#TBL-54-1-1{border-left:solid black 0.4pt;}
td#TBL-54-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-54-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-54-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-54-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-54-4-2{border-right:solid black 0.4pt;}
td#TBL-54-4-2{border-right:solid black 0.4pt;}
#TBL-55-1{border-left: 1px solid black;}
#TBL-55-1{border-right:1px solid black;}
#TBL-55-3{border-right:1px solid black;}
td#TBL-55-1-1{border-left:solid black 0.4pt;}
td#TBL-55-1-1{border-left:solid black 0.4pt;}
td#TBL-55-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-55-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-55-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-55-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-55-4-2{border-right:solid black 0.4pt;}
td#TBL-55-4-2{border-right:solid black 0.4pt;}
td#TBL-55-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-55-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-55-5-2{border-right:solid black 0.4pt;}
td#TBL-55-5-2{border-right:solid black 0.4pt;}
td#TBL-55-6-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-55-6-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-55-6-2{border-right:solid black 0.4pt;}
td#TBL-55-6-2{border-right:solid black 0.4pt;}
#TBL-56-1{border-left: 1px solid black;}
#TBL-56-1{border-right:1px solid black;}
#TBL-56-3{border-right:1px solid black;}
td#TBL-56-1-1{border-left:solid black 0.4pt;}
td#TBL-56-1-1{border-left:solid black 0.4pt;}
td#TBL-56-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-56-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-56-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-56-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-56-4-2{border-right:solid black 0.4pt;}
td#TBL-56-4-2{border-right:solid black 0.4pt;}
#TBL-57-1{border-left: 1px solid black;}
#TBL-57-1{border-right:1px solid black;}
#TBL-57-3{border-right:1px solid black;}
td#TBL-57-1-1{border-left:solid black 0.4pt;}
td#TBL-57-1-1{border-left:solid black 0.4pt;}
td#TBL-57-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-57-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-57-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-57-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-57-4-2{border-right:solid black 0.4pt;}
td#TBL-57-4-2{border-right:solid black 0.4pt;}
#TBL-58-1{border-left: 1px solid black;}
#TBL-58-1{border-right:1px solid black;}
#TBL-58-3{border-right:1px solid black;}
td#TBL-58-1-1{border-left:solid black 0.4pt;}
td#TBL-58-1-1{border-left:solid black 0.4pt;}
td#TBL-58-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-58-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-58-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-58-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-58-4-2{border-right:solid black 0.4pt;}
td#TBL-58-4-2{border-right:solid black 0.4pt;}
#TBL-59-1{border-left: 1px solid black;}
#TBL-59-1{border-right:1px solid black;}
#TBL-59-3{border-right:1px solid black;}
td#TBL-59-1-1{border-left:solid black 0.4pt;}
td#TBL-59-1-1{border-left:solid black 0.4pt;}
td#TBL-59-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-59-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-59-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-59-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-59-4-2{border-right:solid black 0.4pt;}
td#TBL-59-4-2{border-right:solid black 0.4pt;}
#TBL-60-1{border-left: 1px solid black;}
#TBL-60-1{border-right:1px solid black;}
#TBL-60-3{border-right:1px solid black;}
td#TBL-60-1-1{border-left:solid black 0.4pt;}
td#TBL-60-1-1{border-left:solid black 0.4pt;}
td#TBL-60-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-60-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-60-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-60-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-60-4-2{border-right:solid black 0.4pt;}
td#TBL-60-4-2{border-right:solid black 0.4pt;}
td#TBL-60-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-60-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-60-5-2{border-right:solid black 0.4pt;}
td#TBL-60-5-2{border-right:solid black 0.4pt;}
#TBL-61-1{border-left: 1px solid black;}
#TBL-61-1{border-right:1px solid black;}
#TBL-61-3{border-right:1px solid black;}
td#TBL-61-1-1{border-left:solid black 0.4pt;}
td#TBL-61-1-1{border-left:solid black 0.4pt;}
td#TBL-61-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-4-2{border-right:solid black 0.4pt;}
td#TBL-61-4-2{border-right:solid black 0.4pt;}
td#TBL-61-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-5-2{border-right:solid black 0.4pt;}
td#TBL-61-5-2{border-right:solid black 0.4pt;}
td#TBL-61-6-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-6-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-6-2{border-right:solid black 0.4pt;}
td#TBL-61-6-2{border-right:solid black 0.4pt;}
td#TBL-61-7-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-7-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-7-2{border-right:solid black 0.4pt;}
td#TBL-61-7-2{border-right:solid black 0.4pt;}
td#TBL-61-8-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-8-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-8-2{border-right:solid black 0.4pt;}
td#TBL-61-8-2{border-right:solid black 0.4pt;}
td#TBL-61-9-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-9-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-9-2{border-right:solid black 0.4pt;}
td#TBL-61-9-2{border-right:solid black 0.4pt;}
td#TBL-61-10-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-10-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-61-10-2{border-right:solid black 0.4pt;}
td#TBL-61-10-2{border-right:solid black 0.4pt;}
#TBL-62-1{border-left: 1px solid black;}
#TBL-62-1{border-right:1px solid black;}
#TBL-62-3{border-right:1px solid black;}
td#TBL-62-1-1{border-left:solid black 0.4pt;}
td#TBL-62-1-1{border-left:solid black 0.4pt;}
td#TBL-62-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-62-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-62-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-62-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-62-4-2{border-right:solid black 0.4pt;}
td#TBL-62-4-2{border-right:solid black 0.4pt;}
#TBL-63-1{border-left: 1px solid black;}
#TBL-63-1{border-right:1px solid black;}
#TBL-63-3{border-right:1px solid black;}
td#TBL-63-1-1{border-left:solid black 0.4pt;}
td#TBL-63-1-1{border-left:solid black 0.4pt;}
td#TBL-63-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-63-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-63-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-63-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-63-4-2{border-right:solid black 0.4pt;}
td#TBL-63-4-2{border-right:solid black 0.4pt;}
#TBL-64-1{border-left: 1px solid black;}
#TBL-64-1{border-right:1px solid black;}
#TBL-64-3{border-right:1px solid black;}
td#TBL-64-1-1{border-left:solid black 0.4pt;}
td#TBL-64-1-1{border-left:solid black 0.4pt;}
td#TBL-64-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-64-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-64-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-64-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-64-4-2{border-right:solid black 0.4pt;}
td#TBL-64-4-2{border-right:solid black 0.4pt;}
td#TBL-64-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-64-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-64-5-2{border-right:solid black 0.4pt;}
td#TBL-64-5-2{border-right:solid black 0.4pt;}
#TBL-65-1{border-left: 1px solid black;}
#TBL-65-1{border-right:1px solid black;}
#TBL-65-3{border-right:1px solid black;}
td#TBL-65-1-1{border-left:solid black 0.4pt;}
td#TBL-65-1-1{border-left:solid black 0.4pt;}
td#TBL-65-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-65-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-65-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-65-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-65-4-2{border-right:solid black 0.4pt;}
td#TBL-65-4-2{border-right:solid black 0.4pt;}
td#TBL-65-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-65-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-65-5-2{border-right:solid black 0.4pt;}
td#TBL-65-5-2{border-right:solid black 0.4pt;}
#TBL-66-1{border-left: 1px solid black;}
#TBL-66-1{border-right:1px solid black;}
#TBL-66-3{border-right:1px solid black;}
td#TBL-66-1-1{border-left:solid black 0.4pt;}
td#TBL-66-1-1{border-left:solid black 0.4pt;}
td#TBL-66-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-66-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-66-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-66-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-66-4-2{border-right:solid black 0.4pt;}
td#TBL-66-4-2{border-right:solid black 0.4pt;}
td#TBL-66-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-66-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-66-5-2{border-right:solid black 0.4pt;}
td#TBL-66-5-2{border-right:solid black 0.4pt;}
#TBL-67-1{border-left: 1px solid black;}
#TBL-67-1{border-right:1px solid black;}
#TBL-67-3{border-right:1px solid black;}
td#TBL-67-1-1{border-left:solid black 0.4pt;}
td#TBL-67-1-1{border-left:solid black 0.4pt;}
td#TBL-67-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-67-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-67-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-67-4-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-67-4-2{border-right:solid black 0.4pt;}
td#TBL-67-4-2{border-right:solid black 0.4pt;}
td#TBL-67-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-67-5-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-67-5-2{border-right:solid black 0.4pt;}
td#TBL-67-5-2{border-right:solid black 0.4pt;}
#TBL-68-1{border-left: 1px solid black;}
#TBL-68-1{border-right:1px solid black;}
#TBL-68-3{border-right:1px solid black;}
td#TBL-68-1-1{border-left:solid black 0.4pt;}
td#TBL-68-1-1{border-left:solid black 0.4pt;}
td#TBL-68-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-68-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-68-3-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-68-3-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-68-3-2{border-right:solid black 0.4pt;}
td#TBL-68-3-2{border-right:solid black 0.4pt;}
#TBL-69-1{border-left: 1px solid black;}
#TBL-69-1{border-right:1px solid black;}
#TBL-69-2{border-right:1px solid black;}
#TBL-69-4{border-right:1px solid black;}
#TBL-70-1{border-left: 1px solid black;}
#TBL-70-1{border-right:1px solid black;}
#TBL-70-2{border-right:1px solid black;}
#TBL-70-4{border-right:1px solid black;}
/* end css.sty */

